@model parcial.Models.cajero
@{
    ViewBag.Title = "correcto";
}

<h2>Retiro exitoso</h2>

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Correcto</h4>
    <p>Monto valido, puede retirar su dinero</p>
    <hr>
</div>
