@model parcial.Models.cajero
@{
    ViewBag.Title = "Error";
}

<h2>¡ups!cantidad erronea</h2>

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Error</h4>
    <p>Cantidad Erronea, ingrese una cantidad valida</p>
    <hr>
</div>
